
/*사용자 질의 데이터 분석 페이지 CSS 파일 */

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem; /* 헤더와 메인 콘텐츠 사이 여백 */
  padding-bottom: 1rem;
  border-bottom: 1px solid #dee2e6;
}

.pageHeader button {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  color: #fff;
  background-color: #0070f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}