/* src/layouts/MainLayout.module.css */

.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.mainContentWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto; /* 콘텐츠가 길어지면 스크롤 생성 */
  background-color: #fff;
}